@model IEnumerable<ShowRooms.Models.Car>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/Slide-All.jpg');">
        <div class="input-group container" style="max-width: 1046px;">
            <form asp-action="Projects" method="get" class="form-outline" style="width: 100%; position: relative;">
               
            
                
                <form asp-controller="Movies" asp-action="Index">
                    <p>
                         <input type="text" name="SearchString" style="width: 700px" />
                        <input type="submit" value="Search" style="background: black;color:white", />
                    </p>
                </form>
               
            </form>
            </div>

        </div><!-- End Breadcrumbs -->
        <!-- ======= Our Projects Section ======= -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

                    <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active" >All</li>
                        <li data-filter=".filter-remodeling"> </li>
                        <li data-filter=".filter-construction">Classic</li>
                        <li data-filter=".filter-repairs">Sport</li>
                        <li data-filter=".filter-design">Family</li>
                    </ul><!-- End Projects Filters -->

                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="/assets/img/projects/Classic-Car.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>@Html.DisplayFor(modelItem => item.Fullname)</h4>
                                    <p>Engineered like no other car in the world</p>
                                    <a href="/assets/img/projects/Classic-Car.jpg" title="C 200 Avantgarde" @*data-gallery="portfolio-gallery-construction"*@ class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a asp-area="" asp-controller="Template" asp-action="Project_details_C200" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- End Projects Item -->

                        @*<div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/projects/Sport-Car.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Mercedes-AMG GT R</h4>
                                    <p>Engineered like no other car in the world</p>
                                    <a href="~/assets/img/projects/Sport-Car.jpg" title="Mercedes-AMG GT R" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a asp-area="" asp-controller="Template" asp-action="Project_detaisl_GTR" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div>*@<!-- End Projects Item -->

                        @*<div class="col-lg-4 col-md-6 portfolio-item filter-design">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/projects/Family-Car.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Mercedes V250</h4>
                                    <p>Engineered like no other car in the world</p>
                                    <a href="~/assets/img/projects/Family-Car.jpg" title="Mercedes V250" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a asp-area="" asp-controller="Template" asp-action="Project_details_V250" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                    </div>*@
                        </div><!-- End Projects Item -->




                    </div><!-- End Projects Container -->

                </div>

           // </div>
        </section><!-- End Our Projects Section -->
    </main><!-- End #main -->
  
